body {
    background: green;
}

.jumbotron {
    background-image: url("../images/savedimage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1, p {
    color: black;
    text-shadow: -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);
}

p {
    font-size: 25px;
}